body {
	margin: 40px;
	padding: 40px;
	background-color: #BE5;
	border: 2px dashed #573;
}
h1, footer {
	text-align: center;
}
p, pre {
	margin-left: 15px;
}
.first {
	background-color: #FF9;
	border: 2px dotted #000;
}
.second{
	background-color: #FF9;
	border: 2px dotted #880;
}
#first {
	color: #373;
}
#second {
	color: #040;
}
