body {
	display: grid;
	grid-template-columns: 19vw 80vw;
	grid-template-rows: 8vw 36vw 4vw;
	grid-gap: 0.3vw;
	margin: 0.3vw;
}
header {
	grid-area: 1 / 1 / 2 / 3;
	background-color: #333;
}
header > h1 {
	color: #FFF;
	text-align: center;
	font-size: 3vw;
}
nav {
	grid-area: 2 / 1 / 3 / 2;
	background-color: #78467B;
	padding-top: 1.6vw;
	padding-left: 1.6vw;
}
nav > a {
	display: block;
	margin-top: 0.5vw;
	color: #FFF;
	font-size: 1.2vw;
	font-family: sans-serif;

}
nav > a, nav: a:visited {
	font-size: 1.3vw;
	color: #FFF;
	text-decoration: none;
}
nav > a + a {
	margin-top: 1vw;
}
a {
	text-decoration: none;
}
main {
	grid-area: 2 / 2 / 3 / 3;
	background-color: #FF0;
}
main > h2 {
	text-align: center;
	font-size: 2.2vw;
}
main > p {
	background-color: #FF9;
	margin: 0.5vw;
	border: 1px dotted #000;
	padding: 0.8vw;
	font-size: 1.5vw;
}
footer {
	text-align: center;
	grid-area: 3 / 1 / 4 / 4;
	background-color: #333;
}
footer > a {
	color: #FF0;
	font-size: 1.5vw;
}
