body {
	background-color: #FFE4C4;
	margin: 40px;
}
section {
	background-color: #FFF8DC;
	padding: 20px;
}
h1, footer {
	text-align: center;
}
footer {
	margin-top: 20px;
}
a:link, a:visited {
	color: #000;
	text-decoration: none;
}
b {
	color: #800000;
}
strong {
	color: #D2691E;
}
em {
	color: #003
}
i {
	border: 2px dotted #399
}
code{
	color: #633
}
kbd{
	text-decoration:line-through
}
sup{
	color: #660000
}
sub{
	color: #0FF
}
.first {
	color: #FF3
}
.second {
	color: #FF6
}
.third {
	color: #FF9
}
.fourth {
	color: #FFC
}
.fifth {
	color: #993
}
