body {
    margin: 40px;
    padding: 40px;
    background-color: #FFF8DC;
    border: 1px solid #808080;
}         

h1 {
    text-align: center;
    color: #FF8C00;
}
          
h2 {
    color: #8B4513;
}

a, a:visited {
    color: #000000;
    text-decoration: none;
}

footer {
    text-align: center;
}
