/*@import url(style.css);*/
div.outline li {
	list-style-type: upper-roman;
}
div.outline li li {
	list-style-type: upper-alpha;
}
div.outline li li li {
	list-style-type: lower-roman;
}
div {
	border: 3px dotted #BBB;
	padding: 10px;
	margin: 10px;
	text-align: center justify;
}
a {
	color: #200000;
	text-align: center;
	
}

